#sendpane > draw-area{
	position: relative;
	z-index: 1000;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #F5F5F5CC;
}

:host {
	display: flex;
}

draw-area {
	display: flex;
	flex-flow: column;
}

canvas-container {
	position: relative;
}

canvas {
	display: inline-block;
	margin: 0.0rem;
	padding: 0;
	box-sizing: content-box;
	vertical-align: bottom;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
	image-rendering: optimizespeed;
	image-rendering: pixelated;
	border: 1px solid #BBB;
}

canvas.lightbox {
	pointer-events:none;
	position: absolute;
	left: 0;
	top: 0;
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
}

canvas {
	cursor: crosshair;
}

button-area {
	display: flex;
	justify-content: flex-end;
	font-size: 0;
	background: #E9E9E6;
	border: 1px #BBB;
	border-style: none solid;
}

button-area button {
	flex: none;
	appearance: none;
	border: none;
	border-radius: unset;
	outline: none;
}

button-area button:hover {
	background: #2929291A;
}

button-area button:disabled {
	color: #666;
	background: #2929291A;
}

button-area button[data-selected] {
	color: #E9E9E6;
	background: #666;
}

chatdraw-controlcontainer {
	width: 1.1rem;
	display: inline-block;
}

chatdraw-controlcontainer > a {
	padding: 0 0.2em;
	text-decoration: none !important;
	display: inline-block;
	font-size: 0.8rem;
	cursor: pointer;
}

chatdraw-controlcontainer .chatdrawplay {
	font-size: 1.0rem;
}

animate-area {
	order: -1;
	display: flex;
	flex-flow: column;
	width: 200px;
	flex: none;
	background-color: rgba(245,245,245,0.80);
	border-left: 1px solid #BBB;
	border-top: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
}

animate-area animate-frames {
	flex: 1;
}

animate-area animate-frame {
	display: block;
	position: relative;
	padding: 2px 7px;
	margin: 0;
}

animate-area animate-frame[data-selected] {
	background-color: #666;
}

animate-area animate-frames canvas {
	width: 100% !important;
	box-sizing: border-box !important;
	cursor: pointer;
}

animate-area animate-frame frame-controls {
	position: absolute;
	left: 9px;
	bottom: 4px;
	display: block;
	width: -webkit-calc(100% - 18px);
	width: calc(100% - 18px);
	vertical-align: bottom;
	/*font-size: 8px;*/
}

animate-area animate-frame frame-controls > * {
	height: 11px;
	font-size: 9px;
	padding: 0;
	margin: 0;
	border-radius: 0;
}

animate-area animate-frame frame-controls button {
	border: none;
	background-color: transparent;
	margin: 0;
	padding: 0;
	float: right;
	margin-left: 2px;
}

animate-area animate-frame frame-controls input {
	width: 30px;
	box-sizing: border-box;
	border: 1px solid #BBB;
	background-color: #E9E9E6;
}

animate-area animate-frame frame-controls .left {
	float: left;
	margin-left: 0px;
	margin-right: 2px;
}

animate-area button-area input {
	height: 25px;
	box-sizing: border-box;
	border-radius: 0;
	border: 1px solid #BBB;
	background-color: #E9E9E6;
}

animate-area button-area input[type="number"] {
	width: 50px;
}

animate-area button-area input[name="name"] {
	width: 125px;
}

:host {
	--scale: 1;
}
animate-area {
	--scale: 1;
}
canvas {
	width: calc(var(--scale) * 200px);
}
button-area button {
	width: calc(var(--scale) * 25px);
	height: calc(var(--scale) * 25px);
	font-size: calc(var(--scale) * 14px);
}
animate-area animate-scroller {
	flex: 1;
}

/*@media(min-width: 700px) {
	draw-area canvas
	{
		width: 400px;
	}
	draw-area:not([data-hidden]) button-area button
	{
		height: 50px;
		width: 50px;
		font-size: 28px;
	}
}*/
