:host {
	display: flex;
	--scale: 1;
}

draw-area {
	display: flex;
	flex-flow: column;
}

canvas-container {
	position: relative;
}

canvas {
	display: inline-block;
	margin: 0.0rem;
	padding: 0;
	box-sizing: content-box;
	vertical-align: bottom;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
	image-rendering: optimizespeed;
	image-rendering: pixelated;
	border: 1px solid #BBB;
	width: calc(var(--scale) * 200px);
	cursor: crosshair;
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
}

button-area {
	display: flex;
	justify-content: flex-end;
	font-size: 0;
	background: #E9E9E6;
	border: 1px #BBB;
	border-style: none solid;
}

button-area button {
	flex: none;
	appearance: none;
	border: none;
	border-radius: unset;
	outline: none;
	width: calc(var(--scale) * 25px);
	height: calc(var(--scale) * 25px);
	font-size: calc(var(--scale) * 14px);
	cursor: pointer;
}

button-area button:hover {
	background: #2929291A;
}

button-area button:disabled {
	color: #666;
	background: #2929291A;
}

button-area button[data-selected] {
	color: #E9E9E6;
	background: #666;
}

spacer {
	flex: 1 !important;
}
